Repository Riverscapes/riverscapes-tools, pull requests merged in 2021-12, with the labels that each got.

#504 tools landing page
  docs/Gemfile
  docs/assets/images/rc/RiverscapesCompliantPending_28.png
  docs/assets/images/rc/RiverscapesCompliant_24.png
  docs/assets/images/rc/RiverscapesCompliant_32.png
  docs/index.md
Labels: documentation

#509 updated brat hydro params
  packages/brat/database/data/Watersheds.csv
Labels: pkg:BRAT

#517 Bear River BRAT equations and parameters
  packages/brat/database/data/Watersheds.csv
  packages/brat/scripts/update_brat_parameters.py
Labels: pkg:BRAT

#520 Raster Stats missing count error
  lib/commons/rscommons/raster_buffer_stats.py
Labels: :bug: bug, pkg:BRAT

#521 added equations for cross-border HUCs
  packages/brat/database/data/Watersheds.csv
Labels: pkg:BRAT

#522 changed one last wrong equation
  packages/brat/database/data/Watersheds.csv
Labels: pkg:BRAT

#526 added missing max da values for mt
  packages/brat/database/data/Watersheds.csv
Labels: pkg:BRAT
