Repository Riverscapes/riverscapes-tools, pull requests merged in 2024-08, with the labels that each got.

#999 Confinement improved indexing
  packages/confinement/confinement/confinement.py
Labels: enhancement, pkg:Confinement

#1005 Rme schema improvements
  packages/rme/rme/database/data_metrics/metrics.csv
  packages/rme/rme/database/metrics_schema.sql
  packages/rme/rme/metric_engine.py
Labels: enhancement, pkg:RME

#1007 consistency of watershid id for table joins
  lib/commons/rscommons/database.py
  packages/brat/database/data/Epochs.csv
  packages/brat/sqlbrat/utils/vegetation_suitability.py
Labels: :bug: bug, pkg:BRAT
