Repository Riverscapes/riverscapes-tools, pull requests merged in 2025-07, with the labels that each got.

#1165 NWI retry 3 times
  packages/rscontext/rscontext/rs_context.py
Labels: enhancement

#1170 fixed limited opportunity logic, closes #1169
  packages/brat/sqlbrat/__version__.py
  packages/brat/sqlbrat/utils/conservation.py
Labels: pkg:BRAT

#1175 deals with multipart line geoms, addresses #1174
  packages/hydro/hydro/__version__.py
  packages/hydro/hydro/utils/feature_geometry.py
Labels: pkg:hydro_context
